/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #072eda, #c34343);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.profile-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    width: 100%;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #08050a;
}

h2 {
    margin: 15px 0 5px;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.description {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

h3 {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.about-section {
    display: none;
    margin-top: 15px;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 10px;
}

.toggle-btn {
    background: black;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
    

}

.toggle-btn:hover {
    background: #5a3d7a;
}
